python-dotenv
requests
sounddevice
soundfile
playsound
pyttsx3
pydub
torch 
torchaudio 
silero-vad
pyctcdecode

# pip install torch torchaudio transformers librosa sounddevice python-dotenv huggingface_hub accelerate
# pip install python-dotenv
# pip install flash-attn --no-build-isolation
# pip install torch torchaudio transformers librosa sounddevice python-dotenv huggingface_hub accelerate
# pip install --upgrade transformers accelerate datasets

torch
torchaudio
transformers
accelerate
sounddevice
faster-whisper
groq
ollama
requests
elevenlabs

# .e-

# torch>=2.1.0
# torchaudio>=2.1.0
# transformers>=4.35.0
# librosa>=0.10.0
# sounddevice>=0.4.6
# python-dotenv>=1.0.0
# huggingface_hub>=0.19.0
# accelerate>=0.24.0
# numpy>=1.24.0

streamlit>=1.28.0
elevenlabs>=1.0.0